.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply text-blue-600 hover:text-blue-800 underline dark:text-blue-400 dark:hover:text-blue-300;
}

.markdown strong {
  @apply font-bold;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown img {
  @apply my-6 rounded-lg;
}
